/* source: https://github.com/dracula/wofi/blob/master/style.css */

window {
  border: 1px solid #aa00dd;
  background-color: #282a36;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #44475a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
} 

#entry:selected {
  background-color: #44475a;
}
